/* GENERAL STYLING */
:root {
  font-size: 10px;
  --data-grey: #4b5d68;
  --data-blue: #212353;
  --data-violet: #9c69e2;
  --data-indigo: #f063b8;
  --data-green: #68c9ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sen", sans-serif;
  max-width: 1600px;
  margin: 0px auto;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--data-grey);
  position: relative;
}

p {
  /* max-width: 500px; */
  font-size: 1.8rem;
  line-height: 1.5;
}

/* Standardised sections widths to 1248px for visual consistency */
.sections,
.cta-container,
footer {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.button {
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: "sen", sans-serif;
}

/* HEADER AND NAV SECTION */
.header {
  padding-bottom: 100px;
  width: 100%;
}

.nav-section-container {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 150px;
  width: 100%;
}

.mobile-nav {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

li {
  list-style-type: none;
  display: inline-block;
}

a.header-nav:link,
a.header-nav:visited {
  font-size: 1.6rem;
  display: inline-block;
  color: var(--data-grey);
  font-weight: 500;
  text-decoration: none;
}

a.bold-nav:link,
a.bold-nav:visited {
  color: var(--data-blue);
  font-weight: 600;
  transform: translateY(-1px);
}

.nav-button {
  font-weight: normal;
  background-color: #ffffff;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.11);
  position: relative;
  color: var(--data-blue);
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 210px;
}

.nav-button:hover {
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.141);
}

.nav-arrow {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 15px;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
  position: relative;
}

.hero-text {
  max-width: 645px;
  width: 60%;
  padding-bottom: 50px;
}

.hero-heading {
  font-family: Helvetica, sans-serif;
  color: var(--data-blue);
  font-size: 8rem;
  font-weight: bold;
  width: 100%;
  line-height: 1;
  margin-bottom: 60px;
}

.hero-desc {
  max-width: 380px;
  font-size: 1.8rem;
  color: var(--data-grey);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 60px;
  width: 38rem;
}

.hero-button {
  color: #fff;
  background-color: var(--data-violet);
  width: max-content;
  font-size: 1.8rem;
  font-family: "Sen", sans-serif;
}

.illustration-container {
  max-width: 885px;
  width: 60%;
  transform: translateX(-180px);
}

.hero-image {
  display: block;
  width: 125%;
}

/* DESCRIPTION SECTION */
.help {
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  margin: 0 auto 100px auto;
}

.help-image-container {
  max-width: 477px;
}

.help-image {
  width: 100%;
  display: block;
}

.help-text {
  max-width: 475px;
  width: 100%;
}

.help-heading {
  color: var(--data-blue);
  font-family: Helvetica, sans-serif;
  width: 100%;
  font-size: 3.5rem;
  line-height: 1.2;
}

.help-text {
  max-width: 474px;
  width: 100%;
  font-size: 1.8rem;
  margin-top: 40px;
  line-height: 1.5;
}

/* FEATURES SECTION */
.features h2 {
  font-size: 4rem;
  color: var(--data-blue);
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.sub-text {
  text-align: center;
  max-width: 584px;
  width: 100%;
  margin: 30px auto 50px auto;
}

.featured-items-container {
  width: 100%;
  padding: 20px;
  /* background-color: #68c9ba; */
}

.feature-segment {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 100%;
  /* background-color: pink; */
  margin-bottom: 50px;
}

.feature-item {
  max-width: 530px;
  display: flex;
  align-items: center;
  gap: 25px;
  background-repeat: no-repeat;
  background-size: 442px;
  background-position: top right;
  /* background-color: white; */
}

.item-heading {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--data-blue);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.item-desc {
  font-size: 1.6rem;
  max-width: 220px;
  width: 220px;
  margin-bottom: 35px;
}

a.learn-prompt:link,
a.learn-prompt:visited {
  color: var(--data-blue);
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
}

.prompt-arrow {
  width: 20px;
  position: relative;
  top: 2.5px;
  margin-left: 14px;
}

.item-1 {
  background-image: url("assets/search-data-bg.png");
  padding: 100px 80px 40px 0px;
}

.item-2 {
  background-image: url("assets/access-bg.png");
  padding: 60px 60px 35px 0px;
  margin-top: 30px;
}

.item-3 {
  background-image: url("assets/print-out-bg.png");
  padding: 60px 90px 95px 0px;
  margin-top: 5px;
}

.item-4 {
  background-image: url("assets/security-bg.png");
  padding: 65px 90px 35px 0px;
}

.item-2 .item-text {
  margin-top: 20px;
}

.item-2 .item-desc {
  margin-bottom: 49px;
}

.item-3 .item-desc {
  margin-bottom: 92px;
}

.item-4 .item-desc {
  margin-bottom: 20px;
}

/* TESTIMONIAL SECTION */
.testimonials {
  background-color: var(--data-violet);
  color: #fff;
  width: 90%;
  border-radius: 50px;
  padding: 100px 0px 50px 90px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.testimonials-title {
  font-size: 4rem;
  font-family: Helvetica, sans-serif;
}

.testimonials-container {
  height: 335px;
  margin-top: 100px;
  display: flex;
  align-items: stretch;
  gap: 20px;
  flex-shrink: 0;
  position: relative;
}

.comments,
.mobile-comments {
  max-width: 645px;
  width: 645px;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--data-violet);
  color: var(--data-grey);
  display: flex;
  align-items: flex-start;
  padding: 50px;
  border-radius: 20px;
  gap: 30px;
  box-shadow: 0px 15px 3px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.5s;
}

.mobile-testimonial {
  display: none;
}

.user-text {
  padding: 15px;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.work {
  font-size: 1.4rem;
  color: var(--data-violet);
  font-weight: 500;
  margin-bottom: 20px;
}

.testimony {
  font-size: 1.8rem;
}

.carousel {
  position: absolute;
  z-index: 5;
}

.carousel-2 {
  transform: translateX(670px);
}

.carousel-3 {
  transform: translateX(1100px);
}

.carousel-4 {
  transform: translateX(1530px);
}

.overflowing {
  overflow: hidden;
  max-width: 400px;
  /* position: relative; */
  box-shadow: 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.overflowing .testimony {
  width: 385px;
}

.overflowing .layover {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 15;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 33%,
    rgb(255, 255, 255) 73%
  );
}

.switch {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dots {
  display: flex;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.dot-active {
  background-color: var(--data-indigo);
  width: 10px;
  height: 10px;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 60px;
}

.arr {
  cursor: pointer;
}

.rot-right,
.rot-left {
  transform: rotate(180deg);
}

/* CALL TO ACTION SECTION */
.cta {
  margin-top: 50px;
  border-top: 1px solid #9b69e241;
}

.cta-container {
  padding: 100px 90px;
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-heading {
  font-size: 4rem;
  color: var(--data-blue);
  font-family: Helvetica, sans-serif;
  margin-bottom: 40px;
}

.cta-desc {
  font-size: 1.8rem;
}

.cta-learn-button {
  background-color: var(--data-indigo);
  margin-right: 10px;
}

/* FOOTER SECTION */
footer {
  padding: 100px;
  padding-bottom: 50px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-logo-container {
  color: var(--data-blue);
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.address {
  max-width: 335px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--data-blue);
  margin-top: 55px;
  margin-bottom: 20px;
}

a.contacts:link,
a.contacts:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  color: var(--data-blue);
  font-weight: 400;
  margin-bottom: 5px;
}

.footer-navs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
}

.footer-nav-heading {
  color: var(--data-blue);
  font-size: 1.6rem;
  font-weight: 600;
}

.footer-navs-container {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

a.footer-nav:link,
a.footer-nav:visited {
  display: block;
  color: var(--data-blue);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.6rem;
}

.icons-container {
  margin-top: 50px;
  display: flex;
  gap: 15px;
}

.copyrights-container {
  margin-top: 100px;
}

.copyrights,
.company-reg-number {
  color: var(--data-blue);
  font-size: 1.2rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

/* ************************************************************************ */
/* RESPONSIVENESS */
@media only screen and (max-width: 1100px) {
  .sections,
  .cta-container,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .button {
    padding: 15px;
  }

  /* NAV SECTION */
  .nav-section-container {
    padding: 25px 15px;
  }

  .nav-container {
    gap: 100px;
  }

  /* HERO SECTION */

  .hero-heading {
    font-size: 6rem;
  }

  .illustration-container {
    transform: translateX(-120px);
  }

  /* FEATURES SECTION */
  .feature-segment {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media only screen and (max-width: 860px) {
  .sections,
  .cta-container,
  footer {
    padding-right: 40px;
    padding-left: 40px;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
  }

  .nav-section-container {
    display: none;
  }

  .menu-icon {
    width: 40px;
    height: auto;
    cursor: pointer;
  }

  /* HERO SECTION */
  .hero {
    flex-flow: column;
    align-items: flex-start;
    margin-top: 50px;
  }

  .hero-text {
    max-width: 100%;
    width: 80%;
  }

  .hero-heading {
    font-size: 4.5rem;
    line-height: 1.1;
    margin-bottom: 30px;
  }

  .hero-desc {
    max-width: 80%;
    width: 100%;
    margin-bottom: 30px;
  }

  .hero-button {
    font-size: 1.6rem;
  }

  .illustration-container {
    max-width: 90%;
    width: 100%;
    transform: translateX(0px);
    margin: auto;
  }

  .hero-image {
    width: 100%;
  }

  /* DESCRIPTION SECTION */
  .help {
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
    gap: 20px;
    border-radius: 25px;
    padding-bottom: 80px;
  }

  .help-image-container {
    max-width: 100%;
    width: 70%;
  }

  .help-heading {
    font-size: 2.8rem;
    text-align: center;
    line-height: 1.1;
  }

  .help-text {
    max-width: 100%;
    font-size: 1.6rem;
    margin-top: 20px;
    text-align: center;
  }

  /* FEATURES SECTION */
  .features h2 {
    font-size: 3rem;
  }

  /* TESTIMONIAL SECTION */
  .testimonials {
    border-radius: 25px;
    padding: 50px 0px 25px 45px;
  }

  .testimonials-title {
    font-size: 3rem;
  }

  .testimonials-container {
    margin-top: 50px;
  }

  /* CTA SECTION */
  .cta-container {
    padding: 50px 20px;
  }

  .cta-content {
    flex-flow: column;
    justify-content: center;
    gap: 30px;
  }

  .cta-heading {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .cta-desc {
    font-size: 1.8rem;
    text-align: center;
  }

  .cta-request-button {
    font-size: 1.6rem;
  }

  /* FOOTER SECTION */

  footer {
    padding: 80px 50px 50px 50px;
  }

  .footer-container {
    flex-flow: column;
    gap: 30px;
  }

  .footer-logo-container {
    font-size: 2.5rem;
    gap: 30px;
  }

  .address {
    max-width: 400px;
    margin-top: 70px;
  }

  .footer-navs {
    width: max-content;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    gap: 90px;
  }

  .icons {
    width: 40px;
    height: auto;
  }
}

@media only screen and (max-width: 790px) {
  .testimonials {
    padding: 80px 30px;
  }

  .testimonials-title {
    padding-left: 10px;
    font-size: 3rem;
  }

  .mobile-testimonial {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
  }

  .mobile-testimonial::-webkit-scrollbar {
    display: none;
  }

  .testimonials-container {
    height: auto;
  }

  .comments {
    display: none;
  }

  .mobile-comments {
    max-width: 100%;
    min-width: 90%;
    margin: 20px auto;
    padding: 20px;
    gap: 15px;
    box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.15);
  }

  .user-img {
    width: 60px;
  }

  .name {
    font-size: 1.6;
  }

  .work {
    font-size: 1.2rem;
  }

  .testimony {
    font-size: 1.6rem;
  }

  .switch {
    display: none;
  }
}

@media only screen and (max-width: 590px) {
  .sections,
  .cta-container,
  footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* HEADER */

  .mobile-logo {
    width: 30px;
  }

  .mobile-nav {
    padding: 20px 0px;
  }

  .menu-icon {
    width: 30px;
  }

  .hero-heading {
    font-size: 3.5rem;
  }

  .hero-desc {
    font-size: 1.6rem;
    max-width: 100%;
  }

  /* DESCRIPTION */
  .help-heading {
    font-size: 2rem;
  }

  .help-text {
    font-size: 1.4rem;
  }

  /* FEATURES */
  .features h2 {
    font-size: 2.5rem;
  }

  .sub-text {
    font-size: 1.6rem;
  }

  .featured-items-container {
    padding: 0px;
  }

  .feature-segment {
    gap: 0px;
    margin-bottom: 30px;
  }

  .feature-item {
    transform: scale(0.85);
  }

  .item-3 {
    padding-bottom: 50px;
  }

  /* TESTIMONIALS */
  .testimonials {
    width: 100%;
    border-radius: 25px;
  }

  /* CTA */
  .cta-heading {
    font-size: 2.5rem;
  }

  .cta-desc {
    font-size: 1.6rem;
  }

  /* FOOTER */
  .footer-navs {
    width: 100%;
    gap: 0px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 500px) {
  .sections,
  .cta-container,
  footer {
    padding-right: 10px;
    padding-left: 10px;
  }

  .help {
    width: 90%;
  }

  .features h2 {
    font-size: 2rem;
  }

  .sub-text {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.4rem;
  }

  .feature-item {
    transform: scale(0.68);
  }

  .testimonials {
    padding: 50px 10px 30px 10px;
  }

  .testimonials-title {
    font-size: 2rem;
  }

  .testimonials-container {
    margin-top: 20px;
  }

  .cta {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cta-heading {
    font-size: 2rem;
  }

  .cta-desc {
    font-size: 1.4rem;
  }

  .cta-learn-button,
  .cta-request-button {
    transform: scale(0.85);
  }

  .footer-logo-container {
    font-size: 2rem;
  }

  .address {
    width: 90%;
  }

  footer {
    padding-bottom: 30px;
  }

  .footer-navs {
    flex-flow: column;
    gap: 50px;
    margin-top: 20px;
  }

  .footer-navs-container {
    margin-top: 10px;
    gap: 20px;
  }

  .icons-container {
    margin-top: 10px;
  }

  .icons {
    width: 35px;
  }

  .copyrights-container {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 860px) {
}

.mobile-nav-menus {
  width: 100%;
  margin: 0px auto;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 100;
  padding: 0px 20px 40px 0px;
}

.mobile-nav-menu {
  padding: 20px;
  margin-bottom: 40px;
}

.mobile-header-navs {
  display: flex;
  flex-flow: column;
  gap: 30px;
}

a.mobile-header-nav:link,
a.mobile-header-nav:visited {
  text-decoration: none;
  color: var(--data-grey);
  font-size: 1.6rem;
  text-align: left;
}

.click-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.255);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  z-index: 99;
}
