/* GENERAL STYLING */
:root {
  font-size: 10px;
  --data-grey: #4b5d68;
  --data-blue: #212353;
  --data-violet: #9c69e2;
  --data-indigo: #f063b8;
  --data-green: #68c9ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sen", sans-serif;
  max-width: 1600px;
  margin: 0px auto;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--data-grey);
  position: relative;
  padding-bottom: 100px;
}

/* NAV */
header,
.section,
.form-container {
  max-width: 1120px;
  margin: 30px auto;
  width: 100%;
  transition: all 0.3s;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

a.home:link,
a.home:visited {
  text-decoration: none;
  color: var(--data-grey);
  font-size: 1.8rem;
  font-weight: 600;
}

/* TABLE */

.table {
  padding: 50px 0px;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 0px auto;
  font-size: 1.8rem;
  transition: inherit;
  text-align: center;
}

th {
  font-size: 2rem;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f1f3f5;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--data-violet);
  color: white;
}

/* FORM */

.form-container {
  border-top: 1px solid rgba(0, 0, 0, 0.173);
  padding: 60px 0;
  position: relative;
}

.add-new {
  color: rgba(0, 0, 0, 0.378);
  font-size: 1.4rem;
  background-color: white;
  width: max-content;
  padding: 1px 12px;
  z-index: 50;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

form {
  background-color: #fff;
  border-radius: 5px;
  width: max-content;
  margin: 0px auto;
  font-size: 1.8rem;
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  box-shadow: -2px 2px 8px 8px rgba(0, 0, 0, 0.048);
}

.heading {
  color: var(--data-blue);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 5px;
}

.field {
  width: 400px;
  height: 40px;
  font-family: "sen", sans-serif;
  border: none;
  outline: none;
  transition: all 0.3s;
  background-color: #f8f9fa;
  padding: 0px 10px;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--data-blue);
}

.field:focus,
.field:active {
  outline: none;
  border-bottom: 3px solid var(--data-blue);
}

.submit {
  border: none;
  outline: none;
  color: white;
  font-size: 1.8rem;
  background-color: var(--data-violet);
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  font-family: "sen", sans-serif;
  display: block;
  width: 100%;
}

.submit:hover {
  background-color: #9b69e2ea;
}

.error {
  font-size: 1.6rem;
  color: #e03131;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 900px) {
  table {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .table {
    padding-top: 60px;
  }

  table {
    width: 95%;
    font-size: 1.6rem;
  }

  th {
    font-size: 1.8rem;
  }

  form {
    font-size: 1.6rem;
    padding: 30px;
  }

  .heading {
    font-size: 1.8rem;
  }

  .field {
    font-size: 1.4rem;
  }

  .submit {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .table {
    padding-top: 40px;
  }

  form {
    max-width: 90%;
  }

  .field {
    max-width: 100%;
  }
}
